{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django Dogs Facts</title>
	<link rel="icon" type="image/svg+xml" href="{% static 'images/blue-heart.png' %}" />
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<meta name="description"
		content="A basic website that displays random dogs facts from https://kinduff.github.io/dog-api/ API and a random dog photo from https://dog.ceo/dog-api/ API.">
	<meta name="keywords" content="Django, Dogs, Facts, Pedro, Lucena">
	<meta name="author" content="Pedro Lucena">
</head>

<body>
	<nav>
		<div></div>
		<ul class="icons">
			<li>
				<a href="https://www.linkedin.com/in/pedrolucena22/" target="_blank" rel="noreferrer">
					<img src="{% static 'images/nav-icon.png' %}" alt="linkedin icon" />
				</a>
			</li>
			<li>
				<a href="https://github.com/PedroL22/" target="_blank" rel="noreferrer">
					<img src="{% static 'images/nav-icon2.png' %}" alt="github icon" />
				</a>
			</li>
			<li>
				<a href="https://twitter.com/lucena_l22/" target="_blank" rel="noreferrer">
					<img src="{% static 'images/nav-icon3.png' %}" alt="twitter icon" />
				</a>
			</li>
		</ul>
	</nav>
	<div class="main-div">
		<img class="dog-image" src="{{dog_image.message}}" alt="random dog image" />
		<h3 class="dog-fact">{{dog_fact.facts}}</h3>

	</div>
</body>

</html>
{% endblock %}
